services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: gopet
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./api
    depends_on:
      - db
    environment:
      PORT: 3333
      DRIVER_STORAGE: postgres
      DATABASE_URL: postgresql://postgres:postgres@db:5432/gopet?schema=public
    ports:
      - "3333:3333"

volumes:
  pgdata:
